<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="80" alt="SuperlativeRM" src="\assets\SRMLogo.png">
  <div class="spacer"></div>
  <div class="dropdown">
    <button class="dropbtn">
      <div class ="menuIcon"></div>
      <div class ="menuIcon"></div>
      <div class ="menuIcon"></div>
    </button>
    <div class="dropdown-content">
      <button class="optionbtn" (click)="toggleUsers()">Users</button>
      <button class="optionbtn" (click)="toggleToDo()">To Do</button>
    </div>
  </div>
</div>
<div>
</div>
<!-- Table contents -->
<div class="content-wrapper">
  <div class="content">
    <app-user *ngIf=!isShow></app-user>
    <app-todo *ngIf=isShow></app-todo>
  </div>
</div>
