table{
 width: 70vh;
 min-width: 720px;
 max-width: 1280px;
}
.mat-cell{
  background-color: #404040;
  color: #d3d3d3;
}
.mat-column-user_id {
  flex: 0 0 10% !important;
  width: 10% !important;
}
.mat-column-title {
  word-wrap: break-word;
  white-space: unset;
  flex: 0 0 60% !important;
  width: 60% !important;
  hyphens: auto;
}
.mat-column-due_on {
  flex: 0 0 14% !important;
  width: 14% !important;
}
.mat-column-status {
  flex: 0 0 16% !important;
  width: 16% !important;
  padding-left: 20px;
  text-align: left;
  color: #000000;
}
.mat-header-cell{
  background-color: #121212;
  color: #ffffff;
}
mat-paginator{
  background-color: #121212;
  color: #ffffff;
}
